@import "tailwindcss";

:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: white;
  color: black;

  .vertical-line {
    width: 2px;
    
    background-color: blue;
   
  }
  .scrollable-element::-webkit-scrollbar {
    width: 8px; /* Width of the entire scrollbar */
  }

  .scrollable-element::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the tracking area */
  }

  .scrollable-element::-webkit-scrollbar-thumb {
    background-color: #d4d3d3; /* Color of the scroll thumb */
    border-radius: 6px; /* Roundness of the scroll thumb */
  }
  .scrollable-element::-webkit-scrollbar-thumb:hover {
    background-color: #646262;
  }
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  }

